@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans JP', sans-serif;
}

.button,
.button:hover,
.button:focus {
	text-decoration: none;
}

.button {
	display: inline-block;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: .25rem;
	color: #fff;
	background-color: #0275d8;
	border-color: #0275d8;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
}

.button:hover {
	color: #fff;
	background-color: #025aa5;
	border-color: #01549b;
}

#container {
	margin: 10px 5px 0;
}

#spreadsheets {
	width: 90%;
	height: 300px;
	display: block;
	margin: 0 auto;
}

@media screen and (min-width: 800px) {
	#container {
		width: 1024px;
		margin: 10px auto 0;
	}

	#spreadsheets {
		width: 600px;
	}
}
