body {
	margin: 0;
	padding: 0;
}

#container {
	margin: 10px 5px 0;
}

#spreadsheets {
	width: 90%;
	height: 300px;
	display: block;
	margin: 0 auto;
}

@media screen and (min-width: 800px) {
	#container {
		width: 1024px;
		margin: 10px auto 0;
	}

	#spreadsheets {
		width: 600px;
	}
}
